/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= ./bootstrap_import
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.m_t_10 {
    margin-top: 10px;
}

.m_t_15 {
    margin-top: 15px;
}

.m_t_20 {
    margin-top: 20px;
}

.m_t_25 {
    margin-top: 25px;
}

.m_t_30 {
    margin-top: 30px;
}

.m_l_10 {
    margin-left: 10px;
}

.m_b_10 {
    margin-bottom: 10px;
}

.f_bold_600 {
    font-weight: 600;
}

.f_size_20 {
    font-size: 20px;
}

.garbage_img {
    width: 15px;
    height: 15px;
}


body {
    margin: 0 0;
    font-size: medium;
    font-family: 'Noto Sans JP', sans-serif;
}

header {
    background-color: #41444b;
    width: 100vw;
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    a.title {
        text-decoration: none;
        color:#f6f4e6;
        font-size: 30px;
        font-weight: bold;
    }

    h1 {
        margin:0;
    } 

    .create_img {
        width: 5vh;
        height: 5vh;
        fill: white;
    }
}

.contents {
    background-color: #fddb3a;
    display: flex;
    flex-direction: row;
    margin-left: 0;
    padding: 20px;
    min-height: 100vh;
}

.reset_password, .register, .login {
    max-width: 600px;
	margin: 0 auto;
	padding: 250px 0;
	height: 400px;
    text-align: center;
    
	h1{
        font-size: 40px;
		transition-duration: 1s;
		transition-timing-function: ease-in-put;
    }
    
    form{
        padding: 20px 0;
        position: relative;
        z-index: 2;
        
        input{
            display: block;
            appearance: none;
            outline: 0;
            border: 1px solid #41444b;
            background-color: #52575d;
            width: 300px;
            
            border-radius: 3px;
            padding: 10px 15px;
            margin: 0 auto 10px auto;
            display: block;
            text-align: center;
            font-size: 18px;
            
            color: #fddb3a;
            
            transition-duration: 0.25s;
            font-weight: 300;
            
            &:hover {
                background-color: black;
            }

            &:focus {
                background-color: black;
            }
        }

        input::placeholder {
            color: #f6f4e6;
        }
        
        button{
            appearance: none;
            outline: 0;
            background-color: #41444b;
            border: 0;
            padding: 10px 15px;
            border-radius: 3px;
            width: 250px;
            cursor: pointer;
            font-size: 18px;
            transition-duration: 0.25s;
            color: #fddb3a;
            
            &:hover{
                background-color: #41444b;
            }
        }
    }
}

.reset_password_help, .register_help, .login_help {
    display: column;
    flex-direction: row;
    a {
        margin: auto;
        width: auto;
    }
}

.main {
    width: 100%;
    height: 100%;
}

.article_wrap {
    a {
        text-decoration: none;
    }
    a:hover {
        color: currentColor;
        text-decoration: none;
    } 
}

.article {
    background-color: whitesmoke;
    border: solid 1px #52575d;
    &:hover {
        background-color: #f6f4e6;
    }

    .description {
        width: 100%;
    }

    .image {
        width: 60%;
        height: auto;
        margin: auto;
    }
}

.article_form_wrap {
    background-color: #f6f4e6;
}

.article_form {
    max-width: 600px;
	margin: 0 auto;
	padding: 150px 0;
	height: 400px;
    text-align: center;
    
	h1{
        font-size: 40px;
		transition-duration: 1s;
		transition-timing-function: ease-in-put;
    }
    
    form{
        padding: 20px 0;
        position: relative;
        z-index: 2;
        
        input{
            display: block;
            appearance: none;
            outline: 0;
            border: 1px solid #41444b;
            background-color: #52575d;
            width: 400px;
            
            border-radius: 3px;
            padding: 10px 15px;
            margin: 0 auto 10px auto;
            display: block;
            text-align: center;
            font-size: 18px;
            
            color: #fddb3a;
            
            transition-duration: 0.25s;
            font-weight: 300;
            
            &:hover {
                background-color: black;
            }

            &:focus {
                background-color: black;
            }
        }
    }
}
